.home, .companies, .jobs, .profile, .logout {
    float: right;
    padding: 12px;
    color: blue;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    text-align: center;

}

.login,
.signup {

    float: right;
    padding: 12px;
    color: blue;
    text-decoration: none;
    font-size: 17px;
    width: 40%;
    text-align: center;

}

.active {
    color: black;
    font-weight: bold;
}