.home {
    float: right;
    padding: 12px;
    color: blue;
    text-decoration: none;
    font-size: 17px;
    width: 33%;
    text-align: center;

}

 .jobs {

    float: right;
    padding: 12px;
    color: blue;
    text-decoration: none;
    font-size: 17px;
    width: 33%;
    text-align: center;

}

.companies {
    float: right;
  padding: 12px;
  color: blue;
  text-decoration: none;
  font-size: 17px;
  width: 33%;
  text-align: center;
}

.active {
    color:black;
    font-weight: bold;
}